html body {
    box-sizing: border-box;
}
*   {
    box-sizing: inherit;
}
* ::after, * ::before {
   box-sizing: inherit;
}
body {
    width: 100%;
}
.container{
    width: 1230px;
    margin:0 auto;
}
.site-header{
    height: 100px;
    background-color: rgba(7, 7, 7, 0.3);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
    z-index: 10;
    position: relative;

}
.site-header__logo {
    margin: 0px 15px;
    width: 200px;
    display: block;

}
.site-header .container{
    display: flex;
}
.site-header__menu{
    flex: 1 1 100%;
}
.main-menu ul{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    padding: 0;
}
.main-menu a{
    display: block;
    padding: 41px 16px;
    color: rgb(255, 255, 255);
    font-family: "Droid Sans", serif;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
}
.main-menu a:hover{
    color: rgb(75, 202, 255);
}
.home-first_screen{
    height: 100vh;
    background-image: url("../img/home_first_screen.png");
    margin-top: -100px;
    background-repeat: no-repeat;
    background-size: cover;
}
.home-content{
    width: 1339px;
    height: 336px;
    margin: 0 auto;
    padding: 349px 162px 115px 653px;
}
.home-content-text{
    width: 665px;
    height: 129px;
}
.home-content-text .context-head-usual{
    width: 625px;
    height: 45px;
    text-shadow: 0 1px 3px rgba(25, 22, 24, 0.36);
    color: #ffffff;
    font-size: 48px;
    font-family: "Lato Light", serif;
    font-weight: 300;
}
.home-content-text .context_head-highlighted{
    font-family: "Lato - Bold", serif;
    font-weight: 700;
}
.home-content-text .context-description{
    display: flex;
    width: 665px;
    height: 60px;
    color: #ffffff;
    font-family: Lato, 'serif';
    font-size: 18px;
    font-weight: 300;
}
button,
button:active,
button:focus {
    outline: none;
}
.home-content-button{
    width: 431px;
    height: 65px;
    margin-top: 40px;
}
.btn-download{
    display: inline-block;
    width: 196px;
    height: 65px;
    border: 0;
    background: url("../img/Base.png");
}
.btn-download span {
    width: 90px;
    height: 11px;
    color: #ffffff;
    font-family: Lato, 'serif';
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
}
.btn-learn-more{
    width: 196px;
    height: 61px;
    border: 0;
    box-shadow: 0 4px 0 #277697;
    background: url("../img/blueBase.png");
}
.btn-learn-more span{
    width: 94px;
    height: 11px;
    color: #fefefe;
    font-family: Lato, 'serif';
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
}
.container-link{
    width: 1339px;
    height: 55px;
}
.home-content-available{
    display: flex;
    margin-top: 49px;
    width: 251px;
    height: 53px;
}
.home-content-available span{
    padding-top: 20px;
    padding-bottom: 20px;
    width: 109px;
    height: 13px;
    color: #ffffff;
    font-family: Lato, 'serif';
    font-size: 18px;
    font-weight: 300;
}
.apple-icon{
    width: 53px;
    height: 53px;
}
.android-icon{
    width: 54px;
    height: 53px;
}
.home-sections__features{
    height: 100vh;
    background: rgb(255, 255, 255);
    background-size: cover;
}

.img-features{
    display: flex;
    width: 170px;
    height: 170px;
}

.feature-heading__span{
    color: rgb(65, 64, 66);
    font-family: Lato, 'serif';
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
}

.feature-content__span{
    color: rgb(65, 64, 66);
    font-family: Lato, 'serif';
    font-size: 20px;
    font-weight: 300;
}

.heading-content{
    display: flex;
    flex-direction: column
}

.features-row{
    display: flex;
    align-items: center;
}

.features-content{
    flex-direction: column;
    align-items: center;
    text-align:center;
    width: 219px;
    height: 316px;
}

.feature-title{
    display: flex;
    padding-top: 30px;
    color: rgb(65, 64, 66);
    font-family: Lato, 'serif';
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
}

.feature-text{
    padding-top: 27px;
    display: flex;
    color: rgb(131, 131, 131);
    font-family: Lato, 'serif';
    font-size: 13px;
    font-weight: 400;
    line-height: 22px;
}
.video{
    display: flex;
    width: 1480px;
    height: 550px;
    background: url("../img/image-video.png");
}
.btn-play-video{
    display: flex;
    width: 116px;
    height: 75px;
    background: url("../img/btn-play.png");
}
.video-content-text {
    display: flex;
    flex-direction: column;
}
.video-content-text .tittle{
    width: 747px;
    height: 45px;
    text-shadow: 0 1px 3px rgba(25, 22, 24, 0.36);
    color: #ffffff;
    font-size: 48px;
    /* Text style for "Watch the" */
    font-family: "Lato Light", 'serif';
    font-weight: 300;
}
.video-content-text .tittle span{
    font-family: "Lato - Bold", 'serif';
    font-weight: 700;
}
.video-content-text .description{
    width: 665px;
    height: 60px;
    color: #ffffff;
    font-family: Lato, 'serif';
    font-size: 18px;
    font-weight: 300;
}
.testimonials{
    display: flex;
    width: 1480px;
    height: 381px;
    background-color: #f9f9f9;
}
.testimonials-quote{
    display: flex;
    width: 513px;
    height: 159px;
}
.testimonials-content-tittle{
    display: flex;
    color: #414042;
    font-family: "Lato - Black", serif;
    font-size: 36px;
    font-weight: 400;
}
.testimonials-icon{
    width: 141px;
    height: 159px;
}
.testimonials-quote__content{
    color: #4bcaff;
    font-size: 14px;
    line-height: 18px;
    font-family: "Lato - Bold", serif;
    font-weight: 700;
    letter-spacing: -0.14px;
}
.testimonials-quote__content span{
    float: right;
    text-align: right;
    font-family: "Lato - Bold Italic", serif;
    font-weight: 700;
    font-style: italic;
    letter-spacing: -0.14px;
}
.show-gallery{
    width: 1170px;
    height: 416px;
    background: #ffffff;
}
.show-gallery-tittle{
    display: flex;
    flex-direction: column;
    width: 353px;
    height: 56px;
}
.show-gallery-tittle__head{
    color: #414042;
    font-family: "Lato - Black", 'serif';
    font-size: 36px;
    font-weight: 400;
}
.show-gallery-tittle__content{
    color: #414042;
    font-family: Lato, 'serif';
    font-size: 20px;
    font-weight: 300;
}
.items-of-gallery{
    display: flex;
    flex-direction: row;
}
.item{
    display: flex;
    flex-direction: column;
    width: 270px;
    height: 302px;
}

.footer {
    width: 1480px;
    height: 110px;
    background-color: #414042;
    padding-top: 50px;
    padding-bottom: 49px;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-content span{
    opacity: 0.25;
    color: #ffffff;
    font-family: Lato, 'serif';
    font-size: 12px;
    font-weight: 400;
}
.upper-case{
    text-transform: uppercase;
}